.serviceContainer {
  display: flex;
  justify-content: flex-start;
  margin: 50px;
  padding: 50px 100px 100px 100px;
  align-items: flex-start;
  gap: 100px;
}

.serviceContainer:nth-child(3) {
  margin-bottom: 50px;
}

.withBorder {
  border-bottom: 3px solid var(--color-text);
}

.withBorder:nth-child(3) {
  border-bottom: none;
}

.serviceNumber {
  display: flex;
  flex: 30%;
  position: relative;
}

.serviceNumber p {
  font-size: 250px;
  font-weight: 800;
  line-height: 0.8;
  margin: 0;
  padding: 0;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  flex: 70%;
}

.serviceHeading h2 {
  margin: 0;
  padding: 0;
  margin-top: 0px;
}

.serviceDescription {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}

.serviceDescription p {
  flex: 1;
  margin: 0;
  max-width: 50%;
}

.serviceList {
  margin-top: 40px;
}

.serviceHeading2 h3 {
  margin-bottom: 0px;
}

.serviceItem {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-text);
  padding: 20px 0;
  gap: 100px;
  position: relative;
}

.serviceItemNumber {
  margin-right: 20px;
  color: var(--color-text);
}

.serviceItemName {
  margin-right: 0px;
  color: var(--color-text);
}

.toolsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  color: var(--color-text);
  font-size: var(--h4-size);
}

.toolItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toolItem::before {
  content: "";
  min-width: 15px;
  width: 15px;
  height: 15px;
  background-color: var(--color-text);
  border-radius: 50%;
  display: block;
}

.toolItemName {
  display: inline-block;
}

.hoveredImageContainer {
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  transform: translateX(-50%);
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
  margin-top: 85px;
}

.hoveredImage {
  max-width: 100%;
  border-radius: 10px;
}

.serviceItem {
  position: relative;
  /* cursor: pointer; */
}

/* -------------- Media Queries ---------------------- */
/* Extra small (xs) */
@media (max-width: 575.98px) {
  .hoveredImageContainer {
    display: none;
  }

  .serviceContainer {
    display: block;
    padding: 50px 30px 100px 30px;
    margin: 0px;
  }

  .serviceNumber p {
    font-size: 150px;
    margin-bottom: 50px;
  }

  .serviceDescription {
    flex-direction: column;
  }

  .serviceDescription p {
    max-width: 100%;
  }
}

/* - most phones & small ipads*/
@media (min-width: 576px) {
  .hoveredImageContainer {
    display: none;
  }

  .serviceContainer {
    display: block;
    padding: 30px 30px;
    margin: 0px;
    padding-bottom: 50px;
  }

  .serviceNumber p {
    font-size: 150px;
    margin-bottom: 50px;
  }

  .serviceDescription {
    flex-direction: column;
  }

  .serviceDescription p {
    max-width: 100%;
  }
}

/*  - large phones */
@media (min-width: 900px) {
  .hoveredImageContainer {
    display: none;
  }
  .serviceContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    margin-top: 30px;
    padding-bottom: 50px;
  }

  .serviceNumber p {
    font-size: 150px;
    margin-bottom: 0px;
  }

  .serviceDescription {
    flex-direction: row;
  }

  .serviceDescription p {
    max-width: 100%;
  }
}

/* Extra large (xl) */
@media (min-width: 1200px) {
  .hoveredImageContainer {
    display: block;
  }

  .serviceContainer {
    flex-direction: row;
    margin: 50px;
    padding: 50px 100px 100px 100px;
  }

  .serviceNumber p {
    font-size: 250px;
    margin-bottom: 0px;
  }
}
