.headerContainer {
  max-width: 1400px;
  margin: 5rem 5rem 0rem 5rem;
  padding-bottom: 0px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0rem 2rem 0rem;
  width: 100%;
}

.projectsRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 3rem;
}

.projectCard {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

/* -------------- Media Queries ---------------------- */
/* Extra small (xs) */
@media (max-width: 575.98px) {
  .headerContainer {
    margin: 1rem;
  }
  .projectsRow {
    margin-left: 1rem;
    margin-right: 1rem 1rem 0rem 1rem;
  }
}

/* - most phones & small ipads*/
@media (min-width: 576px) {
}

/*  - large phones */
@media (min-width: 800px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
}
