.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 4rem 0rem 2rem 0rem;
  width: 100%;
}

.projectsRow {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.projectCard {
  flex: 1;
  min-width: 300px;
  max-width: 625px;
}

/* Mobile (up to 768px) */
@media (max-width: 768px) {
  .projectsRow {
    gap: 1rem;
    flex-direction: column;
  }

  .projectCard {
    min-width: 100%;
  }

  .container {
    width: 90%;
  }
}

/* Small laptop (769px - 1199px) */
@media (min-width: 769px) and (max-width: 1199px) {
  .container {
    width: 90%;
  }
}

/* Large laptop (1200px - 1799px) */
@media (min-width: 1200px) and (max-width: 1799px) {
  .container {
    width: 90%;
  }

  .projectCard {
    max-width: 800px;
  }
}

/* Large monitors (1800px and above) */
@media (min-width: 1800px) {
  .container {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
  }

  .projectsRow {
    gap: 4rem;
  }

  .projectCard {
    flex: 1;
    min-width: 600px;
    max-width: 800px;
  }
}
