.headerContainer {
  display: flex;
  margin: 100px;
  gap: 100px;
}

.headerLeft {
  flex: 60%;
  flex: 1;
  padding-top: 50px;
}

.headerRight {
  flex: 40%;
  flex: 1;
  padding-top: 0px;
}

.headerRight img {
  border-radius: 30px;
  width: 100%;
  height: auto;
}

.mainBtn {
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  font-weight: var(--font-medium);
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--color-bg);
  background-color: var(--color-text);
}

.circle {
  width: 10px;
  height: 10px;
  background-color: var(--color-bg);
  border-radius: 50%;
}

/* -------------- Media Queries ---------------------- */
/* Extra small (xs) */
@media (max-width: 575.98px) {
  .headerContainer {
    flex-direction: column;
    margin: 20px;
    gap: 30px;
  }
}

/* - most phones & small ipads*/
@media (min-width: 700px) {
  .headerContainer {
    flex-direction: column;
    margin: 20px;
    gap: 30px;
  }
}

/*  - large phones */
@media (min-width: 800px) {
  .headerContainer {
    flex-direction: column;
    margin: 0px 20px 50px 20px;
    gap: 30px;
  }
}

/* Extra large (xl) */
@media (min-width: 1200px) {
  .headerContainer {
    flex-direction: row;
    margin: 100px;
    gap: 100px;
  }
}
